.uranus {
  /* margin: 200px; */
  width: 16em;
  height: 16em;
  background: url(../../assets/UranasFlat.jpg);
  box-shadow: inset -2em -2em 2em #000, -0.7em -0.7em 1em #3784f8;
  position: relative;
  animation: rotate 70s linear infinite;
  transition: transform 2s ease-in-out;
}

.uranus:hover {
  /* transform: scale(1.2); */
}

.uMoon {
  background: url(../../assets/Moon.jpg);
  box-shadow: inset -1.5em -1.5em 1.5em #000, -0.2em -0.2em 0.5em #ccc;
  width: 6em;
  height: 6em;
  position: absolute;
  left: -11em;
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 17s linear infinite, orbit 20s infinite ease-in-out;
  z-index: 1;
}

.uranus,
.uMoon {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

.uCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px;
  /* border: solid; */
}

.container {
  width: 400px;
  animation-timeline: view();

  /* margin: 50px auto 0; */
  /* padding: 20px; */
}

h2 {
  align-self: center;
}

li {
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 500;
  text-transform: uppercase;
}

li::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(54, 126, 223, 0.5);
  border-radius: 1000px;
}
li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(54, 126, 223, 1);
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.uranusTemp:after {
  animation-name: uranusTemp;
}

@keyframes uranusTemp {
  from {
    width: 0%;
    background-color: rgb(17, 0, 255);
  }

  to {
    width: 10%;
  }

  100% {
  }
}

li.uranusMass:after {
  animation-name: uranusMass;
}

@keyframes uranusMass {
  to {
    width: 70%;
  }
}

li.uranusMoon:after {
  animation-name: uranusMoon;
}

@keyframes uranusMoon {
  to {
    width: 50%;
  }
}

li.uranusEV:after {
  animation-name: uranusEV;
}

@keyframes uranusEV {
  to {
    width: 50%;
  }
}

li.uranusDays:after {
  animation-name: uranusDays;
}

@keyframes uranusDays {
  to {
    width: 90%;
  }
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}
