.mercury {
  /* margin: 300px; */
  width: 10em;
  height: 10em;
  background: url(../../assets/MercuryFlat.jpg);
  box-shadow: inset -1em -1em 1em #000;
  position: relative;
  animation: rotate 60s linear infinite;
  transition: transform 2s ease-in-out;
}

.mercury:hover {
  /* transform: scale(1.2); */
}

.mercMoon {
  background: url(../../assets/Moon.jpg);
  box-shadow: inset -0.2em -0.2em 0.2em #000, -0.2em -0.2em 0.5em #ccc;
  width: 2em;
  height: 2em;
  position: absolute;
  left: -11em;
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 17s linear infinite, orbit 20s infinite ease-in-out;
  z-index: 1;
}

.mercury,
.mercMoon {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

.mCard,
.mContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  /* border: solid; */
}

.mContainer {
  width: 200px;
  /* margin: 50px auto 0; */
  /* padding: 20px; */
}

p {
  text-align: center;
}

h2 {
  align-self: center;
}

li {
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 500;
  text-transform: uppercase;
}

li::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(54, 126, 223, 0.5);
  border-radius: 1000px;
}
li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(54, 126, 223, 1);
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.mercTemp:after {
  animation-name: mTemp;
}

@keyframes mTemp {
  to {
    width: 90%;
  }

  0% {
    background-color: aqua;
  }

  100% {
    background-color: rgb(255, 51, 0);
  }
}

li.mercMass:after {
  animation-name: mercMass;
}

@keyframes mercMass {
  to {
    width: 5%;
  }
}

li.mercEV:after {
  animation-name: mercEV;
}

@keyframes mercEV {
  to {
    width: 5%;
  }
}

li.mercDays:after {
  animation-name: mercDays;
}

@keyframes mercDays {
  to {
    width: 10%;
  }
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}
