.mercury {
  /* margin: 300px; */
  width: 10em;
  height: 10em;
  background: url(../../assets/MercuryFlat.jpg);
  box-shadow: inset -1em -1em 1em #000;
  position: relative;
  animation: rotate 60s linear infinite;
  transition: transform 2s ease-in-out;
}

.mercury:hover {
  /* transform: scale(1.2); */
}

.mercMoon {
  background: url(../../assets/Moon.jpg);
  box-shadow: inset -0.2em -0.2em 0.2em #000, -0.2em -0.2em 0.5em #ccc;
  width: 2em;
  height: 2em;
  position: absolute;
  left: -11em;
  top: 50%;
  transform: translateY(-50%);
  animation: rotate 17s linear infinite, orbit 20s infinite ease-in-out;
  z-index: 1;
}

.mercury,
.mercMoon {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

.mCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  /* border: solid; */
}

p {
  text-align: center;
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}
