.mars {
  /* margin: 200px; */
  width: 13em;
  height: 13em;
  background: url(../../assets/MarsFlat.jpg);
  box-shadow: inset -2em -2em 2em #000, -0.5em -0.5em 1em #a1810b;
  position: relative;
  animation: rotate 80s linear infinite;
  transition: transform 2s ease-in-out;
}

.mars:hover {
  /* transform: scale(1.2);  */
}

.marsMoon,
.marsMoon2 {
  background: url(../../assets/Moon.jpg);
  box-shadow: inset -1.5em -1.5em 1.5em #000, -0.2em -0.2em 0.5em #ccc;
  width: 4em;
  height: 4em;
  position: absolute;
  left: -11em;
  top: 50%;
  transform: translateY(-100%);
  animation: rotate 17s linear infinite, orbit 30s infinite ease-in-out;
  z-index: 1;
}

.mars,
.marsMoon,
.marsMoon2 {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

.marsMoon2 {
  animation: rotate 17s linear infinite, orbit 50s infinite ease-in-out;
  animation-direction: reverse;
  width: 3em;
  height: 3em;
  transform: translateY(-24%);
  box-shadow: inset -1.0em -1.0em 1.0em #000, -0.2em -0.2em 0.5em #ccc;
}

.mCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  border: solid;
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}
