.mars {
  /* margin: 200px; */
  width: 13em;
  height: 13em;
  background: url(../../assets/MarsFlat.jpg);
  box-shadow: inset -2em -2em 2em #000, -0.5em -0.5em 1em #a1810b;
  position: relative;
  animation: rotate 80s linear infinite;
  transition: transform 2s ease-in-out;
}

.mars:hover {
  /* transform: scale(1.2);  */
}

.marsMoon,
.marsMoon2 {
  background: url(../../assets/Moon.jpg);
  box-shadow: inset -1.5em -1.5em 1.5em #000, -0.2em -0.2em 0.5em #ccc;
  width: 4em;
  height: 4em;
  position: absolute;
  left: -11em;
  top: 50%;
  transform: translateY(-100%);
  animation: rotate 17s linear infinite, orbit 30s infinite ease-in-out;
  z-index: 1;
}

.mars,
.marsMoon,
.marsMoon2 {
  border-radius: 50%;
  background-repeat: repeat;
  background-size: 200% 100%;
}

.marsMoon2 {
  animation: rotate 17s linear infinite, orbit2 50s infinite ease-in-out;
  animation-direction: reverse;
  width: 3em;
  height: 3em;
  left: -5em;
  transform: translateY(-24%);
  box-shadow: inset -1em -1em 1em #000, -0.2em -0.2em 0.5em #ccc;
}

.mCard,
.container {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  /* align-items: center; */
  /* margin-top: 200px; */
  /* border: solid; */
}

.mCard {
  margin: 200px;
}

.container {
  width: 400px;
  animation-timeline: view();

  /* margin: 50px auto 0; */
  /* padding: 20px; */
}

h2 {
  align-self: center;
}

li {
  position: relative;
  list-style: none;
  margin: 40px 0;
  font-weight: 500;
  text-transform: uppercase;
}

li::before {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  height: 15px;
  background-color: rgba(54, 126, 223, 0.5);
  border-radius: 1000px;
}
li::after {
  content: "";
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 0;
  height: 15px;
  background-color: rgba(54, 126, 223, 1);
  border-radius: 1000px;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

li.marsTemp:after {
  animation-name: marsTemp;
}

@keyframes marsTemp {
  from {
    width: 0%;
    background-color: rgb(17, 0, 255);
  }

  to {
    width: 60%;
  }

  100% {
    background-color: rgb(255, 51, 0);
  }
}

li.marsMass:after {
  animation-name: marsMass;
}

@keyframes marsMass {
  to {
    width: 40%;
  }
}

li.marsMoons:after {
  animation-name: marsMoons;
}

@keyframes marsMoons {
  to {
    width: 20%;
  }
}

li.marsEV:after {
  animation-name: marsEV;
}

@keyframes marsEV {
  to {
    width: 20%;
  }
}

li.marsDays:after {
  animation-name: marsDays;
}

@keyframes marsDays {
  to {
    width: 40%;
  }
}

@keyframes rotate {
  to {
    background-position: -200% 0;
  }
}

@keyframes orbit {
  49% {
    z-index: 1;
  }
  50% {
    left: 25em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -11em;
    z-index: 1;
  }
}

@keyframes orbit2 {
  49% {
    z-index: 1;
  }
  50% {
    left: 15em;
    z-index: -1;
  }
  99% {
    z-index: -1;
  }
  100% {
    left: -5em;
    z-index: 1;
  }
}
